.git
.github
node_modules
vendor
public/build
public/hot
rr
.rr.yaml
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.*
!.env.example
*.sqlite
*.sqlite-journal
.phpunit.result.cache
DEPLOYMENT.md
README.md
